* {
  margin: 0;
  padding: 0;
}
body {
  background: #fffbf0;
}
ul, li, ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.posi-rlt {
  position: relative;
}
.posi-abs {
  position: absolute;
}
li.normal {
  color: white;
}
.f_l {
  float: left;
}
.f_r {
  float: right;
}
.circle {
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.activeCricle {
  background: #db6d4c
}



// border
.border {
  border: 1px solid #aaa;
}
.border-yellow {
  border: 1px solid #FFCC00;
  background-color: #FFFFF7;
}
.border-orange {
  border: 1px solid #FFDD99;
  background-color: #FFF9ED;
}
.border-skyblue {
  border: 1px solid #CCEFF5;
  background-color: #FAFCFD;
}
.border-blue {
  border: 1px solid #5C9CC0;
  background-color: #F2FAFF;
}
.border-green {
  border: 1px solid #ADCD3C;
  background-color: #F2FDDB;
}
.border-pink {
  border: 1px solid #F8B3D0;
  background-color: #FFF5FA;
}