.side-bar {
  width: 100%;
  height: 100%;
  .tag-link {
    width: 100%;
    height: 20%;
    .note-rotate {
      text-align: center;
      line-height: 72px;
      margin: 1px;
    }
  }
  .articles {
    width: 100%;
    height: 33%;
    margin-top: 10px;
  }
  .friend-link {
    @extend .articles;
  }
}